[submodule "src/platform"]
	path = src/platform
	url = https://github.com/Pulse-Eight/platform
[submodule "support"]
	path = support
	url = https://github.com/Pulse-Eight/libcec-support.git
[submodule "src/dotnet"]
	path = src/dotnet
	url = https://github.com/Pulse-Eight/cec-dotnet.git
[submodule "src/cec-client/json"]
	path = src/cec-client/json
	url = https://github.com/nlohmann/json
    branch = v3.11.1
